<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.gohome.dao.AdoptApplimentMapper" >
  <resultMap id="BaseResultMap" type="com.example.gohome.entity.AdoptAppliment" >
    <id column="appliment_id" property="applimentId" jdbcType="INTEGER" />
    <result column="adopt_id" property="adoptId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="apply_name" property="applyName" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="info_id" property="infoId" jdbcType="INTEGER"/>
  </resultMap>

  <resultMap id="ResultMap" type="com.example.gohome.entity.ProcessInfo" >
    <id column="appliment_id" property="applimentId" jdbcType="INTEGER" />
    <result column="adopt_id" property="adoptId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="pet_portrait" property="petPortrait" jdbcType="VARCHAR" />
    <result column="pet_nickname" property="petNickname" jdbcType="VARCHAR" />
    <result column="user_text" property="userText" jdbcType="VARCHAR" />
    <result column="process_state" property="processState" jdbcType="INTEGER"/>
  </resultMap>

  <sql id="Base_Column_List" >
    appliment_id, adopt_id, user_id, apply_name, telephone, address, job, description,
    state, created, info_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from adopt_appliment
    where appliment_id = #{applimentId,jdbcType=INTEGER}
    order by appliment_id desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from adopt_appliment
    where appliment_id = #{applimentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.gohome.entity.AdoptAppliment" >
    <selectKey resultType="java.lang.Integer" keyProperty="applimentId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into adopt_appliment (adopt_id, user_id, apply_name, 
      telephone, address, job,
    description, state
      )
    values (#{adoptId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{applyName,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.gohome.entity.AdoptAppliment" >
    <selectKey resultType="java.lang.Integer" keyProperty="applimentId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into adopt_appliment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adoptId != null" >
        adopt_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="applyName != null" >
        apply_name,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="infoId != null" >
        info_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adoptId != null" >
        #{adoptId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="applyName != null" >
        #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="infoId != null" >
        #{infoId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.gohome.entity.AdoptAppliment" >
    update adopt_appliment
    <set >
      <if test="adoptId != null" >
        adopt_id = #{adoptId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="applyName != null" >
        apply_name = #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="infoId != null" >
        info_id = #{infoId,jdbcType=INTEGER},
      </if>
    </set>
    where appliment_id = #{applimentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.gohome.entity.AdoptAppliment" >
    update adopt_appliment
    set adopt_id = #{adoptId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      apply_name = #{applyName,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      info_id = #{infoId,jdbcType=INTEGER},
    where appliment_id = #{applimentId,jdbcType=INTEGER}
  </update>

  <select id="queryAdoptApplimentByUserId2" resultMap="ResultMap" parameterType="com.github.pagehelper.Page">
    SELECT
    adopt_appliment.appliment_id AS appliment_id,
    adopt_appliment.adopt_id AS adopt_id,
    adopt_appliment.user_id AS user_id,
    adopt_message.pictures AS pet_portrait,
    adopt_message.pet_name AS pet_nickname,
    adopt_appliment.description AS user_text,
    adopt_appliment.state AS process_state
    FROM adopt_message, adopt_appliment
    WHERE adopt_appliment.user_id=#{userId,jdbcType=INTEGER} AND adopt_message.adopt_id=adopt_appliment.adopt_id
  </select>

</mapper>